@model NewsApp.Models.Category

@{
    ViewData["Title"] = "Details";
    var allCategories = ViewBag.AllCategories as List<NewsApp.Models.Category>;
}

<div class="my-5">
    <a class="btn purple-button mb-2 mb-lg-0" asp-action="Index">All categories</a>
    @if (allCategories != null)
    {
        @foreach (var item in allCategories)
        {
            <a class="btn delete-button mb-2 mb-lg-0" asp-action="Details" asp-route-id="@item.CategoryId">
                @item.Name
            </a>
        }
    }
</div>

<h1 class="my-5">@Html.DisplayFor(model => model.Name)</h1>

@* Looping through all book written by author *@
@if (Model.Articles != null && Model.Articles.Any())
{
    <div class="row">
    @foreach (var article in Model.Articles)
        {
            <div class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card h-100 position-relative">
                    @* Displaying article image *@
                    @if (string.IsNullOrEmpty(article.ImageName))
                    {
                        <img src="~/images/placeholder.png" alt="" class="card-img-top img-fluid" />
                    }
                    else
                    {
                        @* <a href="~/images/@article.ImageName"> *@
                        <img src="~/images/@article.ImageName" alt="@article.Title" class="card-img-top img-fluid" />
                        @* </a> *@
                    }
                    <div class="card-body">
                        <a class="stretched-link" asp-action="Details" asp-controller="Article"
                            asp-route-id="@article.ArticleId">
                            <h5>
                                @article.Title</h5>
                        </a>


                        <p class="card-text">Author: @article.CreatedBy</p>
                        <p class="card-text">Puplished: @article.CreatedDate.ToString("HH:mm") on the
                            @article.CreatedDate.ToString("dd MMMM yyyy")</p>
                    </div>
                </div>

            </div>
        }
    </div>
}

else
{
    <p>No articles available for this category.</p>
}
