@model NewsApp.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<div class="narrow-container">
    <h1 class="my-5">@ViewData["Title"]</h1>

    <h3>Are you sure you want to delete this article?</h3>

    <div class="row">
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ArticleId" />
                <input type="submit" value="Delete" class="btn btn-danger w-50" />
            </form>
        </div>
        <div class="col text-end">
            <a class="btn purple-button" asp-action="Index">Back to all articles</a>
        </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center">
        <h2 class="col">@Html.DisplayFor(model => model.Title)</h2>
        <p class="col text-end">Published: @Model.CreatedDate.ToString("yyyy-MM-dd")</p>
    </div>

    <a asp-action="Details" asp-controller="Category" asp-route-id="@Model.CategoryId" class="btn delete-button my-3">
        @Html.DisplayFor(model => model.Category.Name)
    </a>
    <p>Created by: @Html.DisplayFor(model => model.CreatedBy)</p>

    @* Displaying the book image if it has been set, otherwise a placeholder image is displayed *@
    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
        <div>
            <img src="~/images/@Model.ImageName" alt="Current Image" />
            <a class="d-block" href="@Model.AttributionUrl">
                <i>@Html.DisplayFor(model => model.AttributionName)</i>
            </a>
        </div>
    }

    <div class="my-5">@Html.Raw(Model.Content)</div>

</div>
