@model NewsApp.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <div class="col-3 me-5">
        @* Displaying the book image if it has been set, otherwise a placeholder image is displayed *@
        @if (!string.IsNullOrEmpty(Model.ImageName))
        {
            <div>
                <img src="~/images/@Model.ImageName" alt="Current Image" />
            </div>
        }
        else
        {
            <div>
                <img src="~/images/placeholder.png" alt="Current Image" />
            </div>
        }
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttributionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttributionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttributionUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttributionUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
